<!DOCTYPE HTML>
<html>
<head>
  <title>Welcome to Ansible</title>
</head>
<body>
  <h1>Managed by Ansible</h1>
  <script type="javascript">
    document.write("Managed by Ansible" * 10);
  </script>
</body>
</html>
